.carousel-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.carousel-header {
  text-align: center;
  border-bottom: 2px solid #af9a7d;
  font-size: 30px;
  font-weight: bold;
}
.carousel-custom {
  margin: 30px;
}
